{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mb-2 container-tall">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4 text-center">Shopping Bag</h2>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col">
            {% if bag_items %}
            <div class="table-responsive rounded"></div>
            {% else %}
            <p class="lead mb-5 text-center">Your bag is empty.</p>
            <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
                <span class="text-uppercase">Keep Shopping</span>
            </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}