{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block content %}
<div class="container mb-2 container-tall">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4 text-center">Shopping Bag</h2>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col">
            {% if bag_items %}
            <div class="table-responsive rounded">
                <table class="table table-sm table-borderless">
                    <thead class="text-black">
                        <tr>
                            <th scope="col">Product Info</th>
                            <th scope="col"></th>
                            <th scope="col">Price</th>
                            <th scope="col" class="text-center">Quantity</th>
                            <th scope="col">Subtotal</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>

                    {% for item in bag_items %}
                    <tr id="item_list">
                        <td class="p-3 w-25">
                            <img class="img-fluid rounded" src="{{ item.product.image.url }}">
                        </td>
                        <td class="py-3">
                            <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                        </td>
                        <td class="py-3">
                            <p class="my-0">€{{ item.product.price }}</p>
                        </td>
                        <td class="py-3 w-25">
                            <form class="form update-form" method="POST" action="{% url 'adjust_bag' item.item_id %}">
                                {% csrf_token %}
                                <div>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="decrement-qty btn btn-sm rounded-0"
                                                data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                                                <span class="sm-icons">
                                                    <img src="https://github.com/KlaudiaBC/E-Commerce-Applications-Project-Pretty-Curly-Girl/blob/main/static/images/media/minus.png?raw=true"
                                                        alt="minus">
                                                </span>
                                            </button>
                                        </div>
                                        <input class="form-control form-control-sm qty_input" type="number"
                                            name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                            data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id }}">
                                        <div class="input-group-append sm-icons">
                                            <button class="increment-qty btn btn-sm rounded-0"
                                                data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                                <span class="sm-icons">
                                                    <img src="https://github.com/KlaudiaBC/E-Commerce-Applications-Project-Pretty-Curly-Girl/blob/main/static/images/media/plus.png?raw=true"
                                                        alt="plus">
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </td>
                        <td class="py-3">
                            <p class="my-0">€{{ item.product.price | calc_subtotal:item.quantity }}</p>
                            <a class="update-link text-info"><small>Update</small></a>
                        </td>
                        <td>
                            <span class="sm-icons" style="cursor: pointer;"
                                hx-delete="{% url 'remove_from_bag' item.item_id %}" hx-target="#item_list"
                                hx-confirm="Are you sure you wish to delete?">
                                <img src="https://github.com/KlaudiaBC/E-Commerce-Applications-Project-Pretty-Curly-Girl/blob/main/static/images/media/trash.png?raw=true"
                                    alt="remove"></span>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="5" class="pt-5 text-right">
                            <h6><strong>Bag Total: €{{ total|floatformat:2 }}</strong></h6>
                            <h6>Delivery: €{{ delivery|floatformat:2 }}</h6>
                            <h4 class="mt-4"><strong>Grand Total: €{{ grand_total|floatformat:2 }}</strong></h4>
                            {% if free_delivery_delta > 0 %}
                            <p class="mb-1 text-danger">
                                You could get free delivery by spending just <strong>€{{ free_delivery_delta }}</strong>
                                more!
                            </p>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" class="text-right">
                            <a href="{% url 'products' %}" class="btn btn-outline-secondary rounded-0 btn-lg">
                                <span class="text-uppercase">Keep Shopping</span>
                            </a>
                            <a href="{% url 'checkout' %}" class="btn btn-secondary rounded-0 btn-lg">
                                <span class="text-uppercase">Secure Checkout</span>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
            {% else %}
            <p class="lead mb-5">Your bag is empty.</p>
            <a href="{% url 'products' %}" class="btn btn-outline-secondary rounded-0 btn-lg">
                <span class="icon">
                </span>
                <span class="text-uppercase">Keep Shopping</span>
            </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}

<script type="text/javascript">
    // Update quantity on click
    var updateBtn = document.querySelector('.update-link')
    updateBtn.addEventListener('click', function (e) {
        var updateForm = document.querySelector('.update-form')
        updateForm.submit();
    })

    // Remove item and reload on click
    document.body.addEventListener('htmx:configRequest', (event) => {
        event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
    })
</script>

{% endblock %}