{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Pretty Curly Girl - 404 Not Found</title>
    <link rel="stylesheet" href="{% static 'css/error.css' %}">
</head>

<body>
    <header>
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="{% url 'home' %}">Pretty Curly Girl</a>
        </nav>
    </header>

    <!-- Hero image container -->
    <div class="container-tall bg">
        <div class="flex-container">
            <div class="text-center">
                <h1>
                    <span class="fade-in" id="digit1">4</span>
                    <span class="fade-in" id="digit2">0</span>
                    <span class="fade-in" id="digit3">4</span>
                </h1>
                <br>
                <h3 class="fadeIn text-center">PAGE NOT FOUND</h3>
                <br>
                <a href="{% url 'products' %}" type="button" name="button" class="btn btn-light">Take me back!</a>
            </div>
        </div>
    </div>
    <footer>
        <div>
            <p class="text-center text-secondary mb-0"><small>&copy; Copyright reserved. KBC 2022 &middot;</small></p>
        </div>
    </footer>
</body>

</html>