{% extends "base.html" %}
{% load static %}

{% block extra_title %}About Us{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <hr class="w-50 mb-1">
            <h2 class="logo-font mb-4 text-center">Our Story</h2>
            <hr class="w-50 mb-1">
        </div>
    </div>
    <br>
    <h3 class="text-center">The story behind <b>Pretty Curly Girl</b></h3>
    <p class="text-muted text-center">The person behind the company: Hanan - owner and founder - born and raised in the Netherlands with Moroccan roots.
    </p>
    <div class="row">
        <div class="col-12 col-md-4">
            <img class="img-about ml-2" src="/static/images/boss_hanan.webp" alt="pretty curly girl foundator">
        </div>
        <div class="col-12 col-md-8">
            <h4>Love your curls</h4>
            <p>I studied law and became a lawyer. After some years as a lawyer I decided it was time for a change
                and I applied for a HR position. I worked for almost 9 years for an Oil & Gas company as a HR Business Partner with
                employment law as my expertise. I have always had my own company next to my fulltime job, as I loved to be an
                entrepeneur and
                to create new things. I Started in 2009 with selling the dermaroller online which was a huge succes.
                Then in
                2012 I developed <strong>Pretty Skin Cosmetics</strong>. It was also a succes, but I never was able to say goodbye to my
                fulltime
                day HR & Legal job. Until after having my daughter in 2018. I decided to developed Pretty Curly Girl
                Products.</p>
            <p>I followed my passion, quitte my job and now I run my own <strong>International Curly Company</strong>, with more than
                100 retailers worldwide. Follow your dreams my Pretty Curly Girls.</p>
        </div>
    </div>
    <hr class="hr-middle">
    <br>
    <div class="row">
        <div class="col-12 col-md-6">
            <h4>Growing up in the 80's</h4>
            <p>Having curls has always been challenging to deal with. As a child my mother did not know how to
                handle my curls. It was
                a painful experience when she was brushing my hair. I remember that as a child I used to cry if I it
                was time to do my hair. <strong>Detangle products</strong> was not something that we had. When I was older it was hard for me to find
                the right products.
                Most curly products in the '90 were too heavy for my hair. Having bad hair days became just normal
                and I dreamed of having straight hair so many times.</p>
        </div>
        <div class="col-12 col-md-6">
            <img class="img-about" src="/static/images/pretty-team.webp" alt="pretty curly girl crew">
        </div>
    </div>
    <br>
    <hr class="hr-middle">

    <div class="row">
        <div class="col-12 col-md-6">
            <img class="img-about" src="/static/images/prod_pcg.webp" alt="pretty curly girl products">
        </div>
        <div class="col-12 col-md-6">
            <h4>CG Method</h4>
            <p>When I was introduced to the <strong>CG Method 3</strong> years ago a curly world full of great hair days finally was
                there. I loved
                the
                curly pages on social media, learning from other curly girls. New experiences like making flaxseed gel
                and using
                lubricant as an anti-frizz seemed so crazy but I did it and it worked well for my hair. Reading the
                ingredients
                though
                was challenging. I did not always understand if the product was CG proof or not.</p>

            <p>When I became the mother to a curly daughter I used to whisper: <strong>"always love your curls my little
                    curly
                    girl", "I hope you never cry if I do your hair", "please take good care of your curls"</strong> and
                all
                of a sudden it hits me,
                develop your own brand. Making sure that the "challenges" that I had were eliminated:</p>
        </div>
        <ul>
            <li>Create labels that are so clear that immediately it is visible if the product is CG and if it
                contains protein.
                So the
                product is only bought if the ingredients work for your hair.</li>
            <li>Create a product with a high concentration of active ingredients (and absolutely not watery
                products).
                Create a Flaxseed gel that can be kept for at least 12 months in the bathroom and create a lubricant
                inspired
                serum so
                that curly girls are not embarrassed to buy it.</li>
            <li>
                Create a product with a high concentration of active ingredients (and absolutely not watery
                products).
                Create a Flaxseed gel that can be kept for at least 12 months in the bathroom and create a lubricant
                inspired
                serum so
                that curly girls are not embarrassed to buy it.</li>
        </ul>
    </div>
    <hr class="hr-middle">
    <br>
    <div class="row">
        <div class="col-12 col-md-8">
            <p>Pretty Curly Girl Products was created with the above in mind and it took a very long time to have it
                perfect before
                it
                was finally launched November 2019: <strong>high quality ingredients, made in the Netherlands, CG approved,
                Vegan Friendly,
                Cruelty Free</strong> and so much more. After the launch it was noticed very soon and talked about by so many
                curly girls and
                in
                a short time it has become a favorite brand in the curly community and it is the fastest growing curly
                brand
                available
                in more than 25 countries in just over a year.
            </p>
            <span>
                <i class="fa-regular fa-star text-warrning"></i>
                <a href="{% url 'products' %}?category=curly_star" aria-label="curly_star"> Check the Curly Star products! </a>
            </span>
        
        </div>
        <div class="col-12 col-md-4">
            <img class="img-about" src="/static/images/hanan_sophia.webp" alt="pretty curly girl foundater with daughter">
        </div>
    </div>
</div>
<br>
<div class="text-center">
    <a href="{% url 'products' %}"><button class="btn btn-outline-info rounded-3 mx-auto" aria-label="products"> See our products</button></a>
</div>
{% endblock %}