{% extends "base.html" %}
{% load static %}

{% block extra_title %}Home{% endblock %}
{% block content %}

<!-- Hero image  -->
<div class="container-tall bg">
  <div class="hero-content bg-sm">
<button class="btn">shop now!!</button>
  </div>
</div>

<!-- Section overview  -->
<section id="overview">
  <div class="container-fluid">
    <h2 class="text-center section-title">Pretty Curly Hair</h2>
    <div class="row overview-row">
      <div class="col-md-4 text-center">
        <span class="overview-icon"><i class="fa-solid fa-medal"></i></span>
        <h3 class="overview-header">High Quality</h3>
        <p class="info-width mx-auto">Thanks to the best quality ingredients, curls and waves magnify with deep
          moisture, gorgeous strength, lasting definition and radiant shine.</p>
      </div>

      <div class="col-md-4 text-center">
        <span class="overview-icon"><i class="fa-solid fa-seedling"></i></span>
        <h3 class="overview-header">Cruelty-Free</h3>
        <p class="info-width mx-auto">Our products avoid ingredients such as harsh sulfates, silicones, parabens,
          waxes, drying alcohol or mineral oil.</p>
      </div>

      <div class="col-md-4 text-center">
        <span class="overview-icon"><i class="fa-solid fa-child-dress"></i></span>
        <h3 class="overview-header">Safe for kids</h3>
        <p class="info-width mx-auto">No more tears! Curly STAR is the line for entire family. Designed to detangle even
          the most
          stubborn hair. Available in fragnance free verasion</p>
      </div>
    </div>
  </div>
</section>
<br><br>

<!-- Testimonial Section -->
<section id="testimonials">
<span class="section-title"></span>
  <!-- Carousel Here -->
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- The slideshow -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <h3 class="text-white">Highly Recommend all Curly STAR products! Since we are using them, my kids don't complain
          of stinging and soapy eyes. Love it. </h3>
        <p class="text-white">-- Lisa Landry</p>
      </div>

      <div class="carousel-item">
        <h3 class="text-white">I Tried the "Bye Bye Frizz" Serum on My Wavy Hair and I'm Never Going Back.</h3>
        <p class="text-white">-- Roseanne Conner-Moralez</p>
      </div>

      <div class="carousel-item">
        <h3 class="text-white">I am TOTALLY EXCITED about Pretty Curly Girl! I love the smell, the consistency and
          amazing effects! </h3>
        <p class="text-white">-- Karen Sayers</p>
      </div>
    </div>

    <!-- Left and right controls of Carousel -->
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</section>
<br>

<!-- Blog Section -->
<section id="blog">
  <h2 class="text-center section-title blog-title">Curly Tips</h2>
  <br>

  <div class="card-deck mx-2">
    <div class="card">
      <div class="card-body">
        <img class="card-img-top" src="{{ MEDIA_URL }}curly-red.webp" alt="girl with curly hair">
        <h5 class="card-title m-3"><a
            href="https://www.naturallycurly.com/curlreading/regimen/top-12-tips-to-diffuse-curly-hair-without-the-frizz"
            target="_blank">12 Tips to Diffuse Curly Hair Without the Frizz</a></h5>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <img class="card-img-top" src="{{ MEDIA_URL }}curls_back.webp" alt="women with curly hair">
        <h5 class="card-title m-3"><a href="https://www.curlynikki.com/2021/04/hair-porosity-test-and-black-hair.html"
            target="_blank">Hair Porosity: What Is It and How Is Black Hair Affected?</a></h5>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <img class="card-img-top" src="{{ MEDIA_URL }}lil-girl.webp" alt="young girl with curly hair">
        <h5 class="card-title m-3"><a href="https://www.moms.com/tips-on-how-to-painlessly-comb-your-childs-hair/"
            target="_blank">How To Painlessly Comb Your Child's Hair</a></h5>
      </div>
    </div>
  </div>
</section>
<br>
<hr>
<!-- Call to Action Section -->
<section id="cta">
  {% include 'includes/mail_sub.html' %}
</section>

{% endblock %}