<script>
    // sort products //
    $('#sort-selector').change(function () {
        var selector = $(this);
        var currentUrl = new URL(window.location);

        var selectedVal = selector.val();
        if (selectedVal != "reset") {
            var sort = selectedVal.split("_")[0];
            var direction = selectedVal.split("_")[1];

            currentUrl.searchParams.set("sort", sort);
            currentUrl.searchParams.set("direction", direction);

            window.location.replace(currentUrl);
        } else {
            currentUrl.searchParams.delete("sort");
            currentUrl.searchParams.delete("direction");

            window.location.replace(currentUrl);
        }
    })

    // Add wishlist
    $(document).ready(function () {
        $(".addToWish").click(function () {
            var attr_id = $(this).attr('attr_id')
            var that = $(this).find('i');
            var csrfToken = "{{ csrf_token }}"

            $.ajax({
                url: "/users/add_wishlist",
                type: 'POST',
                data: {
                    'attr_id': attr_id,
                    'csrfmiddlewaretoken': csrfToken,
                },
                success: function (res) {
                    that.addClass('fa-solid').removeClass('fa-regular');
                }
            });
        }); // End ajax
    }); // End document.ready

    // show messages outside of django scope
    let permission = Notification.permission;

    if(permission === "granted"){
        showNotification();
    } else if(permission === "default"){
        requestAndShowPermission();
    } else {
        alert("Use normal alert");
    }

    var notLog = document.getElementById('not-log')
    notLog.addEventListener('click', function () {
        alert('Login required! Please, login to your account or create one.')
    });
</script>
