{% extends "base.html" %}
{% load static %}

{% block extra_title %}Checkout success{% endblock %}

{% block content %}
<div class="container container-tall">
    <div class="row">
        <div class="col">
            <hr class="w-50 mb-1">
            <h2 class="logo-font mb-4 text-center">Thank you</h2>
            <hr class="w-50 mb-1">
        </div>
    </div>
    <div class="d-block">
        <div class="text-center">
            <img class="img-sm" src="/workspace/E-Commerce-Applications-Project-Pretty-Curly-Girl/static/media/spirit.png" alt="success" aria-label="payment_succesfull">
            <br>
        </div>
        <div class="text-center">
            <p class="my-3">Your payment was successful.</p>
            <p>Your order is now being prepared and will be sent to you shortly!</p>
            <p>If you have any questions or concerns feel free to contact us: info@prettycurlygirl.com</p>
            <br>
            <a href="{% url 'products' %}" class="btn btn-outline-info rounded-3 my-2" aria-label="home">
                <span>Home</span>
            </a>
        </div>
    </div>
</div>

{% endblock %}