html,
body {
  width: auto;
  height: 100% !important;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}

.icon {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  height: 1.5rem;
  width: 1.5rem;
}

.container-tall {
  min-height: calc(100vh - 200px);
}

.card-product {
  border-radius: 10px;
  box-shadow: 1px 2px grey;
  overflow: hidden;
}

.card-title a {
  color: black !important;
  font-weight: bold;
  line-height: 2rem;
}

.img-fluid {
  min-height: 250px;
}

.img-sm {
  height: 90px;
  width: 90px;
}

.img-md {
  height: 200px;
  width: 300px;
}

.img-about {
  display: block;
  max-width: 280px;
  max-height: 340px;
  width: auto;
  height: auto;
}

.btt-link,
.update-link,
.remove-item {
  cursor: pointer;
}

a.nostyle:link {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}

a.nostyle:visited {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}

a:hover {
  text-decoration: none;
  background-color: inherit;
  color: inherit;
}

.no-form form {
  display: none;
}

/* settings for template */
/* if needd, change colors */
.btn-temp-blue {
  background-color: #007791;
  color: #f5f5f5;
}

.btn-temp-black {
  background: #46494c;
  color: #fff;
  width: 8rem;
}

.btn-temp-black:hover,
.btn-temp-black:active,
.btn-temp-black:focus {
  background: white;
  color: black;
  border: 1px solid black;
}
.btn-temp-black a:hover,
.btn-temp-black a:active,
.btn-temp-black a:focus {
  color: #0a0908;
}

.wrapper-form {
  background-color: #f5f5f5;
  padding: 2rem;
  border: solid #46494c;
  border-radius: 40px;
}

.text-black {
  color: #0a0908 !important;
}

.text-special {
  color: #007791;
  font-weight: bolder;
}

.search-text {
  padding-bottom: 60px;
}

.search-text .input-search {
  height: 45px;
  width: 40%;
  padding-left: 20px;
  color: #333;
}

.search-text .btn-search {
  background: #545454;
  border: none;
  color: #fff;
  height: 45px;
  width: 80px;
}

.search-text h4 {
  color: #888582;
  font-weight: 700;
}

footer {
  background-color: #46494c;
  color: #f5f5f5;
  padding-top: 60px;
}

footer .fa-brands {
  font-size: xx-large;
  color: #fff;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  transition: transform 0.2s;
}

.fa-nav {
  transition: transform 0.2s;
}

.fa-brands:hover,
.fa-nav:hover {
  color: #007791;
  transform: scale(1.3);
}

.hr-middle {
  border: none;
  height: 1px;
  margin-left: 4rem;
  margin-right: 4rem;
  background-color: #007791;
}

.legal-box {
  padding: 1rem;
  color: #888582;
  font-size: 13px;
  text-align: center;
}

.legal-box a {
  color: #888582;
  font-weight: 800;
}

/* subscription */
#mc_embed_signup {
  font: 14px Helvetica, Arial, sans-serif;
}

#mc_embed_signup h3 {
  font-size: 2rem;
}

.subtext {
  text-align: center;
}

.stars {
  color: #fdcc0d;
  font-size: large;
  text-align: center;
}

/* From codepen --> navbar */
.btn .bx {
  vertical-align: inherit;
  margin-top: -3px;
  font-size: 1.15rem;
}

.form-control {
  height: calc(2.5rem + 2px);
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}

.btn {
  font-size: 1rem;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
}

.bx.icon-single {
  font-size: 1.5rem;
}

.form-inline .form-control {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.form-inline .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.sub-menu.navbar-light .navbar-nav .active > .nav-link,
.sub-menu.navbar-light .navbar-nav .nav-link.active,
.sub-menu.navbar-light .navbar-nav .nav-link.show,
.sub-menu.navbar-light .navbar-nav .show > .nav-link {
  border-bottom: 3px solid #007791;
  color: #007791;
}

.navbar .navbar-toggler {
  border: none;
}

.navbar-light .navbar-toggler:focus {
  outline: none;
}

.navbar-brand {
  margin-top: 1rem;
  font-size: 1.6rem;
}

#navbar {
  flex-grow: 1;
}

.navbar {
  padding: 0;
}

.main-menu {
  position: relative;
  z-index: 3;
}

.sub-menu {
  position: relative;
  z-index: 2;
  padding: 0 1rem;
}

.navbar.bg-light {
  background: #fff !important;
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.1);
}

.user-dropdown .nav-link {
  padding: 0.15rem 0;
}

#sidebar {
  background: #fff;
  height: 100%;
  left: -100%;
  top: 0;
  bottom: 0;
  overflow: auto;
  position: fixed;
  transition: 0.4s ease-in-out;
  width: 84%;
  z-index: 5001;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  padding: 1.25rem 1rem 1rem;
}

#sidebar.active {
  left: 0;
}

#sidebar .sidebar-header {
  background: #fff;
  border-bottom: 1px solid #f5f5f5;
  padding-bottom: 1.5rem;
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #f5f5f5;
  margin-bottom: 40px;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px 16px;
  font-size: 1.1em;
  display: block;
  color: #0a0908;
}

#sidebar ul li a:hover {
  color: #007791;
  background: #fff;
}

#sidebar ul li.active > a,
#sidebar a[aria-expanded="true"] {
  color: #007791;
  background: #f5f5f5;
  border-radius: 6px;
}

a[data-toggle="collapse"] {
  position: relative;
}

#sidebar .links .dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

ul.social-icons {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}

ul.social-icons li {
  display: inline-block;
  margin-right: 0px;
  margin-bottom: 0;
}

#sidebar ul.social-icons li a {
  font-size: 24px;
}

.utility-nav {
  background: #46494c;
  padding: 0.5rem 1rem;
  text-align: center;
}

.utility-nav p {
  margin-bottom: 0;
  color: #f5f5f5;
}

.search-bar {
  position: relative;
  z-index: 2;
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.1);
}

.search-bar .form-control {
  width: calc(100% - 60px);
}

.search-dark {
  background-color: #46494c;
  padding-top: 0.5rem;
}

.user-dropdown .dropdown-menu {
  left: auto;
  right: 0;
}

.qty_input {
  flex: 0;
  width: 3rem !important;
}

table td {
  vertical-align: auto;
}

.overlay {
  background: rgba(0, 0, 0, 0.7);
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  z-index: -1;
  width: 100%;
  opacity: 0;
}

.addToWish i {
  font-size: xx-large;
  color: red;
}


/* Style the button and place it in the middle of the container/image */
.btn-shop {
  position: relative;
  display: block;
  width: 200px;
  height: 60px;
  top: 885%;
  left: 125%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  font-weight: bold;
  padding: 12px 24px;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  background-color: #46494c;
  color: #fff;
  border: 1px solid #46494c;
}

.btn-shop:hover {
  background-color: #0a0908;
  color: #fff;
  border: none;
}

table {
  width: 90% !important;
  margin: auto;
}

/* hero img */
.bg {
  background-image: url("/static/images/hero.webp");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* home page layout - codepen */
/* For all section's */
.section-title {
  font-size: 4rem;
  margin-top: 3rem;
}

/* Overview */
.info-width {
  width: 60%;
  font-size: 1.3rem;
}

.overview-icon {
  font-size: 3rem;
  color: #007791;
}

.overview-row {
  margin-top: 5rem;
}

.overview-header {
  font-weight: 900;
}
.overview-icon,
.overview-header,
.info-width {
  padding: 1rem 0;
}

/* Testimonials */
#testimonials {
  background-color: #007791;
}
.carousel-item {
  padding: 7% 15%;
}
.carousel-item h3 {
  font-size: 1.5rem;
}

.card {
  box-shadow: 0px 3px 63px -12px rgba(0, 0, 0, 0.75);
  border-color: #007791;
  border-radius: 10px;
}

.card-body {
  padding: 7% 0;
  overflow: hidden;
}

.btn-block {
  font-size: 1.5rem;
}

#blog .card-img-top {
  height: 690px;
  width: auto;
  transition: transform 0.4s; /* smoother zoom */
}

#blog .card-img-top:hover {
  transform: scale(1.3);
  transform-origin: 50% 50%;
}

/* Call To Action */
#cta {
  background-color: #f5f5f5;
  height: 350px;
  padding-top: 2rem;
}

.cta-text {
  font-weight: bold;
  font-size: 3rem;
  color: #0a0908;
}

.td-img {
  width: 7rem;
}

.input-count {
  clear: both;
  margin: 15px 0;
  position: relative;
}



/*------------- media queries ------------- */

/* very narrow screen */
@media screen and (max-width: 280px) {
  .navbar-brand {
    font-size: small;
  }

  .btn-shop {
    font-size: 18px;
    height: auto;
    left: 85% !important;
  }
}

/* narrow screen */
@media screen and (min-width: 280px), (max-width: 370px) {
  .btn-shop {
    top: 570%;
    left: 119%;
  }
}

@media screen and (max-width: 540px) {
  .btn-shop {
    top: 663%;
  }

  .tab-img {
      display: none;
    }
  }

/* for tablets */
@media screen and (min-width: 600px) {
  .img-md {
    height: 400px;
    width: 600px;
  }

  .form-inline {
    flex-wrap: nowrap;
  }

  .header-lg {
    flex-grow: 0;
  }

  .navbar-collapse {
    flex-grow: 1;
  }

  .navbar-brand {
    font-size: 2.25rem;
    margin-top: 0;
    padding-right: 5rem;
  }

  .btn-shop {
    top: 470%;
    left: 360%;
  }

  .img-about {
    display: block;
    max-width: 470px;
    max-height: 360px;
  }
}

/* for laptops */
@media screen and (min-width: 768px) {
  .sub-menu {
    padding: 0 1rem;
  }

  .btn-shop {
    top: 859%;
    left: 310%;
  }

  .sub-menu.navbar-expand-md .navbar-nav .nav-link {
    padding: 1rem 1.5rem;
  }

  table {
    width: 75% !important;
    margin: auto;
  }

}

/* for large laptops */
@media screen and (min-width: 992px) {
  /* pad the top a bit when navbar is collapsed on mobile */
  .header-container {
    padding-top: 116px;
  }

  body {
    height: calc(100vh - 116px);
  }

  .form-inline .form-control {
    width: 200px;
  }
  .btn-shop {
    top: 570%;
    left: 380%;
  }
}

/* for big TV's (HD screens) */
@media screen and (min-width: 1280px) {
  .container {
    max-width: 80%;
  }

  .form-inline .form-control {
    width: 300px;
  }
  .btn-shop {
    top: 670%;
    left: 460%;
  }
}

@media only screen and (max-width: 850px) {
  html,
  body {
    width: 100%;
    overflow-x: hidden;
    margin-bottom: 0;
  }
}
