/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #46494c; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #0a0908;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #0a0908;
    border: 1px solid #0a0908;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #46494c;
    border-color: #46494c;
}

.allauth-form-inner-content a {
	color: #007791;
}
.inline-text {
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid #00000036; 
    line-height: 0.1em;
    margin: 10px 0 20px; 
}
 
.inline-text span { 
     background:#fff; 
     padding:0 10px; 
     color: black;
 }

#div_id_remember {
    display: none;
}

.btn-facebook {
    background-color: #3b5998 !important;
    color: white !important;
}

.btn-google {
    background-color: #ffff !important;
    border-color: #343a40;
    color: black !important;
}

.btn-social {
    border-radius: 50px;
    opacity: 0.9;
    width: 5rem;
}

.btn-social:hover {
    opacity: 1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.social-txt {
    display: none;
}


/*------------- media queries ------------- */

/* for tablets */
@media screen and (min-width: 600px) {
    .btn-social {
        width: 14rem;
    }
    .social-txt {
        font-size: smaller;
        display: inline-block;
    }
}


/* for laptops */
@media screen and (min-width: 768px) {

}

/* for large laptops */
@media screen and (min-width: 992px) {
    .container {
        width: 962px;
    }

    /* pad the top a bit when navbar is collapsed on mobile */
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}

/* for big TV's (HD screens) */
@media screen and (min-width: 1280px) {
    .container {
        width: 1250px;
    }
}