.carousel-inner {
    height: 520px;
  }
  
  .carousel-item img {
      position: absolute;
      object-fit: cover;
      top: 0;
      left: 0;
      min-height: 520px;
  }

.wrapper {
    height: 520px;
}