<footer>
    <div class="row d-flex justify-content-around">
      <div class="col-12 col-md-6 text-center mb-5">
        <h3>Follow us </h3>
        <br>
        <span><a href="https://www.facebook.com/www.prettyskin.nl" target="_blank" rel="noopener">
            <i class="fa-brands fa-facebook"></i></a>
        </span>
        <span><a href="https://www.instagram.com/prettycurlygirl_products/" target="_blank" rel="noopener"><i
              class="fa-brands fa-instagram"></i></a>
        </span>
        <span><a href="https://www.tiktok.com/@prettycurlygirlproducts" target="_blank" rel="noopener"><i
              class="fa-brands fa-tiktok"></i></a>
        </span>
        <span><a href="https://www.pinterest.com/prettycurlygirl_products/" target="_blank" rel="noopener"><i
              class="fa-brands fa-pinterest"></i></a>
        </span>
        <br>
      </div>

      <div class="col-12 col-md-6 text-center">
        <h3>Contact</h3>

        <div class="mb-2">
          <p class="m-0"><i class="fa-solid fa-user"></i> Owner & Founder</p>
          <p class="m-0"> Hanan el Fizazi</p>
        </div>
        <div class="mb-2">
          <p class="m-0"><i class="fa-solid fa-phone"></i> 31648143082</p>
          <p class="m-0"><i class="fa-solid fa-envelope"></i> info@prettycurlygirl.com</p>
        </div>
        <div class="mb-2">
          <p class="m-0"><i class="fa-solid fa-house"></i> Botersloot 42A</p>
          <p class="m-0">3011HH Rotterdam</p>
        </div>
      </div>
    </div>
    <hr class="hr-middle">

    <div class="container legal-box">
      <p>THIS WEBSITE HAS BEEN CREATED FOR EDUCATIONAL PURPOSES ONLY AND DOES NOT CONDUCT ANY COMMERCIAL
        ACTIVITIES. PHOTOS AND PRODUCT SPECIFICATIONS WERE COPIED DIRECTLY FROM THE MANUFACTURER AFTER OBTAINING HER
        PERMISSION. FIND THE OFFICIAL STORE <a href="https://prettycurlygirl.store/" target="_blank"
          rel="an official website of the Pretty Curly Girl store"> PRETTY CURLY GIRL OFFICIAL</a></p>
    </div>
    <br>
    <div>
      <p class="text-center text-secondary mb-0"><small>&copy; Copyright reserved. KBC 2022 &middot;</small></p>
    </div>
  </footer>