<nav class="navbar navbar-expand-md navbar-light bg-light sub-menu">
    <div class="container">
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="about-us-link" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        About Us
                    </a>
                    <div class="dropdown-menu border-0" aria-labelledby="about-us-link">
                        <a href="" class="dropdown-item">Our mission</a>
                        <a href="" class="dropdown-item ">3-steps curly routine</a>
                        <a href="" class="dropdown-item ">Shipping Policy</a>
                        <a href="" class="dropdown-item ">Terms and Conditions</a>
                        <a href="" class="dropdown-item">Contact</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="about-us-link" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Products
                    </a>
                    <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                        <a href="" class="dropdown-item">By category</a>
                        <a href="" class="dropdown-item ">By rating</a>
                        <a href="" class="dropdown-item ">By price</a>
                        <a href="" class="dropdown-item">Bundles</a>
                        <a href="" class="dropdown-item">All Products</a>
                    </div>
                <li class="nav-item">
                    <a class="nav-link" href="#">Locations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Curly STAR</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Curly Tips</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Search bar -->
<div class="search-bar d-block d-md-none">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form class="form-inline mb-3 mx-auto">
                    <input class="form-control" type="search" placeholder="Search for products..." aria-label="Search">
                    <button class="btn btn-success" type="submit"><i class="bx bx-search"></i></button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Sidebar -->
<nav id="sidebar">
    <div class="sidebar-header">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-10 pl-0">
                    <a class="text-black nav-link" href="#user-options-sm" data-toggle="collapse" aria-expanded="false"
                        class="dropdown-toggle">My Account</a>
                    <ul class="collapse list-unstyled" id="user-options-sm">
                        {% if request.user.is_authenticated %}
                        {% if request.user.is_superuser %}
                        <li><a href="" class="dropdown-item">Product Management</a></li>
                        {% endif %}
                        <li><a href="" class="dropdown-item">My Profile</a></li>
                        <li><a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a></li>
                        {% else %}
                        <li><a href="{% url 'account_signup' %}" class="dropdown-item">Register</a></li>
                        <li><a href="{% url 'account_login' %}" class="dropdown-item">Login</a></li>
                        {% endif %}
                    </ul>
                </div>

                <div class="col-2 text-left">
                    <button type="button" id="sidebarCollapseX" class="btn btn-link">
                        <i class="bx bx-x icon-single">X</i>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <ul class="list-unstyled components links">
        <li class="active">
            <a href="#"><i class="bx bx-home mr-3"></i> Home</a>
        </li>
        <li>
            <a href="#productSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i
                    class="bx bx-help-circle mr-3"></i>Products</a>
            <ul class="collapse list-unstyled" id="productSubmenu">
                <li>
                    <a href="#">By category</a>
                </li>
                <li>
                    <a href="#">By rating</a>
                </li>
                <li>
                    <a href="#">By price</a>
                </li>
                <li>
                    <a href="#">Bundles</a>
                </li>
                <li>
                    <a href="#">All Products</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#"><i class="bx bx-book-open mr-3"></i> Locations</a>
        </li>
        <li>
            <a href="#"><i class="bx bx-crown mr-3"></i> Curly STAR</a>
        </li>
        <li>
            <a href="#"><i class="bx bx-crown mr-3"></i> Curly Tips</a>
        </li>
        <li>
            <a href="#"><i class="bx bx-crown mr-3"></i> Contact</a>
        </li>
    </ul>

    <h6 class="text-uppercase mb-1">Categories</h6>
    <ul class="list-unstyled components mb-3">
        <li>
            <a href="#">Category 1</a>
        </li>
        <li>
            <a href="#">Category 1</a>
        </li>
        <li>
            <a href="#">Category 1</a>
        </li>
        <li>
            <a href="#">Category 1</a>
        </li>
    </ul>

    <ul class="social-icons">
        <li><a href="#" target="_blank" title=""><i class="bx bxl-facebook-square"></i></a></li>
        <li><a href="#" target="_blank" title=""><i class="bx bxl-twitter"></i></a></li>
        <li><a href="#" target="_blank" title=""><i class="bx bxl-linkedin"></i></a></li>
        <li><a href="#" target="_blank" title=""><i class="bx bxl-instagram"></i></a></li>
    </ul>

</nav>