<!-- Header -->
<div class="overlay"></div>
<nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container">

        <button type="button" id="sidebarCollapse" class="btn d-block d-md-none">
            <i class="fas fa-duotone fa-bars"></i>
        </button>

        <a class="navbar-brand" href="{% url 'home' %}">
            <p class="font-weight-bold">Pretty Curly Girl</p>
        </a>
        <ul class="navbar-nav ml-auto d-block d-md-none">
            <li class="nav-item">
                <a class="btn" href="{% url 'view_bag' %}"><i class="fas fa-duotone fa-cart-shopping fa-lg"></i>
                    {% if product_count > 0 %}
                    <span class="badge badge-danger">{{ product_count }}</span>
                    {% endif %}
                </a>
            </li>
        </ul>

        <!-- Search bar / large screen -->
        <div class="collapse navbar-collapse">
            <form method="GET" action="{% url 'products' %}" class="form-inline my-2 my-lg-0 mx-auto">
                <input class="form-control" name="q" type="search" placeholder="Search for products..."
                    aria-label="Search">
                <button class="btn btn-success my-2 my-sm-0" type="submit"><i
                        class="fas fa-duotone fa-magnifying-glass"></i></button>
            </form>

            <!-- My account / Shopping Bag -->
            <div class="col-12 col-lg-6 my-auto py-1 py-lg-0">
                <ul class="row list-inline mb-0 mt-2 d-flex float-right">
                    <li class="list-inline-item dropdown">
                        <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <div class="text-center">
                                <i class="fas fa-duotone fa-user fa-lg"></i>
                                <p class="my-0">My Account</p>
                            </div>
                        </a>
                        <div class="dropdown-menu border-0" aria-labelledby="user-options">
                            {% if request.user.is_authenticated %}
                            <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                            <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                            {% else %}
                            <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                            <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                            {% endif %}
                        </div>
                    </li>
                    <li class="list-inline-item">
                        <div class="text-center">
                            <a class="btn" href="{% url 'view_bag' %}"><i
                                    class="fas fa-duotone fa-cart-shopping fa-lg"></i>
                                    {% if product_count > 0 %}
                                    <span class="badge badge-danger">{{ product_count }}</span>
                                    {% endif %}
                                <p>My basket</p>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
</nav>


<!-- Main navbar / large screen -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark sub-menu">
    <div class="container">
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="about-us-link" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        About Us
                    </a>
                    <div class="dropdown-menu border-0" aria-labelledby="about-us-link">
                        <a href="" class="dropdown-item">Our mission</a>
                        <a href="" class="dropdown-item ">3-steps curly routine</a>
                        <a href="" class="dropdown-item ">Shipping Policy</a>
                        <a href="" class="dropdown-item ">Terms and Conditions</a>
                        <a href="" class="dropdown-item">Contact</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="products-link" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Products
                    </a>
                    <div class="dropdown-menu border-0" aria-labelledby="products-link">
                        <a href="{% url 'products' %}?category=cleanse" class="dropdown-item">Step 1 - Cleanse</a>
                        <a href="{% url 'products' %}?category=condition" class="dropdown-item">Step 2 - Condition</a>
                        <a href="{% url 'products' %}?category=style" class="dropdown-item">Step 3 - Style</a>
                        <a href="{% url 'products' %}?category=travel_sizes" class="dropdown-item">Try Me Travel
                            Sizes</a>
                        <a href="{% url 'products' %}?category=bundle_sets" class="dropdown-item">Bundle sets</a>
                        <a href="{% url 'products' %}?category=sale" class="dropdown-item">SALE</a>
                        <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
                    </div>
                <li class="nav-item">
                    <a class="nav-link" href="#">Locations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'products' %}?category=curly_star">Curly STAR</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Curly Tips</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Search bar / small screen -->
<div class="search-bar d-block d-md-none">
    <div class="container">
        <div class="row mt-2">
            <div class="col-12">
                <form method="GET" action="{% url 'products' %}" class="form-inline mb-3 mx-auto">
                    <input class="form-control" type="search" placeholder="Search for products..." aria-label="Search"
                        name="q">
                    <button class="btn btn-success" type="submit"><i
                            class="fas fa-duotone fa-magnifying-glass"></i></button>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- Sidebar / small screen -->
<nav id="sidebar">
    <div class="sidebar-header">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-10 pl-0">
                    <a class="text-black nav-link dropdown-toggle" href="#user-options-sm" data-toggle="collapse"
                        aria-expanded="false">My Account</a>
                    <ul class="collapse list-unstyled" id="user-options-sm">
                        {% if request.user.is_authenticated %}
                        <li><a href="" class="dropdown-item">My Wish List</a></li>
                        <li><a href="" class="dropdown-item">My Profile</a></li>
                        <li><a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a></li>
                        {% else %}
                        <li><a href="{% url 'account_signup' %}" class="dropdown-item">Register</a></li>
                        <li><a href="{% url 'account_login' %}" class="dropdown-item">Login</a></li>
                        {% endif %}
                    </ul>
                </div>

                <div class="col-2 text-left">
                    <button type="button" id="sidebarCollapseX" class="close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <ul class="list-unstyled components links">
        <li class="active">
            <a href="{% url 'home' %}"><i class="bx bx-home mr-3"></i> Home</a>
        </li>
        <li>
            <a href="#productSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i
                    class="bx bx-help-circle mr-3"></i>Products</a>
            <ul class="collapse list-unstyled" id="productSubmenu">
                <li>
                    <a href="{% url 'products' %}?category=cleanse">Step 1 - Cleanse</a>
                </li>
                <li>
                    <a href="{% url 'products' %}?category=condition">Step 2 - Condition</a>
                </li>
                <li>
                    <a href="{% url 'products' %}?category=style">Step 3 - Style</a>
                </li>
                <li>
                    <a href="{% url 'products' %}?category=travel_sizes">Try Me Travel Sizes</a>
                </li>
                <li>
                    <a href="{% url 'products' %}?category=bundle_sets">Bundle sets</a>
                </li>
                <li>
                    <a href="{% url 'products' %}?category=sale">SALE</a>
                </li>
                <li>
                    <a href="{% url 'products' %}">All Products</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#"><i class="bx bx-book-open mr-3"></i> Locations</a>
        </li>
        <li>
            <a href="{% url 'products' %}?category=curly_star"><i class="bx bx-crown mr-3"></i> Curly STAR</a>
        </li>
        <li>
            <a href="#"><i class="bx bx-crown mr-3"></i> Curly Tips</a>
        </li>
        <li>
            <a href="#"><i class="bx bx-crown mr-3"></i> Contact</a>
        </li>
    </ul>

    <h6 class="text-uppercase mb-1">About Us</h6>
    <ul class="list-unstyled components mb-3">
        <li>
            <a href="#">Our Mission</a>
        </li>
        <li>
            <a href="#">3-steps Curly Routine</a>
        </li>
        <li>
            <a href="#">Shipping Policy</a>
        </li>
        <li>
            <a href="#">Terms and Conditions</a>
        </li>
        <li>
            <a href="#">Contact</a>
        </li>
    </ul>

    <ul class="social-icons">
        <li><a href="#" target="_blank" title=""><i class="bx bxl-facebook-square"></i></a></li>
        <li><a href="#" target="_blank" title=""><i class="bx bxl-twitter"></i></a></li>
        <li><a href="#" target="_blank" title=""><i class="bx bxl-linkedin"></i></a></li>
        <li><a href="#" target="_blank" title=""><i class="bx bxl-instagram"></i></a></li>
    </ul>

</nav>