{% extends "account/base.html" %}

{% load i18n %}
{% load static %}

{% block extra_title %}Login{% endblock %}

<!-- Social accounts -->
{% load account socialaccount %}

<!-- Header  -->
{% block inner_content %}
<div class="text-center">
  <h2>Login</h2>
  <hr>
</div>

<!-- Social accounts  -->
{% get_providers as socialaccount_providers %}
<div class="row d-flex justify-content-center">
  {% if socialaccount_providers %}
  <div class="m-2">
    <a href="{% provider_login_url 'google' method='oauth2' %}" class="btn-google btn btn-social">
      <img src="https://img.icons8.com/color/24/null/google-logo.png" alt="logo google">
      <span class="social-txt ml-2">Continue with Google</span>
    </a>
  </div>
  {% endif %}
</div>

<!-- Divider -->
<br>
<div class="col-12">
  <p class="inline-text"><span> or </span></p>
</div>
<br>

<!-- Login form  -->
<div class="wrapper-form">
  <form class="login" method="POST" action="{% url 'account_login' %}">
    {% csrf_token %}
    {{ form|crispy }}

    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <div>
      <p><a class="text-muted" href="{% url 'account_reset_password' %}">Forgot Password?</a></p>
    </div>
    <div class="col-md-12 text-center p-3">
      <button class="btn-block btn btn-secondary" type="submit">Login</button>
    </div>
  </form>
</div>

<br>
<br>

<div class="text-center">
  <span>Not a member?</span>
  <a href="{{ signup_url }}">Sign up for free account.</a>
</div>

{% endblock %}