{% extends "account/base.html" %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block inner_content %}
<div class="container-fluid container-tall">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="logo-font">Password Recovery</h2>
        </div>
    </div>
    <hr>
    <br>
    <div class="wrapper-form">
        {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
        {% endif %}


        <p class="text-center"><b>Forgot your password?</b></p>
        <p class="text-center">Enter your e-mail address below. We will shortly send you a token for the password reset. Follow provided instructions.</p>
        <br>

        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
            {% csrf_token %}
            {{ form|crispy }}

            <div class="text-center">
                <span class="font-weight-bold"></span>
                <input type="submit" value="{% trans 'Reset My Password' %}" class="btn btn-outline-info rounded-3 ml-2"
                    aria-label="products">
                </span>
            </div>
        </form>

        <br>
        <p class="text-center"><small>
            Please contact us if you have any trouble resetting your password.</small></p>
    </div>
</div>

{% endblock %}