{% extends "account/base.html" %}

{% load i18n %}
{% load static %}

{% block extra_title %}Login{% endblock %}

{% load account socialaccount %}

{% block inner_content %}
<div class="text-center">
  <h2>Sign up</h2>
  <hr>
</div>

<div class="text-center">
  <p class="small">Already have an account? Then please <a href="{{ login_url }}">sign in</a></p>
</div>
<br>

<div class="wrapper-form">
  <form class="signup" id="signup_form" method="POST" action="{% url 'account_signup' %}">
    {% csrf_token %}
    {{ form|crispy }}

    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}

    <div class="col-md-12 text-center p-3">
      <button class="btn-block btn btn-secondary" type="submit">Register</button>
    </div>
  </form>
</div>

<br>
<div class="col-12">
  <p class="inline-text"><span> or </span></p>
  <br>
  <p class="text-center">Signup via your Google account:</p>

  {% get_providers as socialaccount_providers %}
  <div class="row d-flex justify-content-center">
    {% if socialaccount_providers %}
    <div class="m-1">
      <a href="{% provider_login_url 'google' method='oauth2' %}" class="btn-google btn btn-social">
        <img src="https://img.icons8.com/color/24/null/google-logo.png" />
        <span class="social-txt ml-2">Continue with Google</span>
      </a>
    </div>
  </div>
</div>
<br>

{% endif %}
{% endblock %}