{% extends "base.html" %}
{% load static %}

{% block extra_title %}My Profile{% endblock %}

{% block content %}
<div class="container container-tall">
    <hr class="w-50 mb-1">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="logo-font">Profile</h2>
            <hr class="w-50 mb-1">
        </div>
    </div>

    <br>
    <div class="flex justify-content-center" aria-labelledby="#profile-tab">
        <div class="container wrapper-form profile-tab">
            <p class="text-special lead">User Information</p>
            <p>We are currently biulding here a nice neat place for your shipping details!</p>

            <a href="{% url 'products' %}" class="btn btn-outline-info rounded-3 ml-2" aria-label="products">
                <span class="font-weight-bold"><i class="fa-solid fa-arrow-left"></i>Back to store</span>
            </a>
        </div>
    </div>
</div>

{% endblock %}