{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container-fluid container-tall">
    <hr class="w-50 mb-1">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="logo-font">Wishlist</h2>
        </div>
    </div>
    <hr class="w-50 mb-1">
    <br /><br />

    {% if user.is_authenticated %}

    {% if wishlist %}
    <table class="table table-sm">
        <thead class="text-black">
            <tr>
                <th scope="col"></th> <!-- img -->
                <th scope="col">Product Info</th>
                <th scope="col">Price</th>
                <th scope="col"></th> <!-- delete icon -->
            </tr>
        </thead>

        <thread>
            {% for wl in wlist %}
            <tr>
                <td class="w-25">
                    {% if wish_item.image %}
                    <img class="img-fluid img-tab rounded" src="{{ wl.image.url }}" alt="{{ wl.name }}">
                    {% else %}
                    <img class="card-img-top img-tab img-fluid" src="/media/noimage.webp" alt="{{ wl.name }}">
                    {% endif %}
                </td>
                <td class="align-middle">
                    <a href="{% url 'product_detail' wl.id %}"><strong>{{ wl.name }}</strong></a>
                </td>
                <td class="align-middle">
                    {{ wl.price }}
                </td>
            </tr>
            {% endfor %}
            </thead>
    </table>
</div>

{% else %}

<!-- if user don't have any item in the wishlist -->
<div class="flex justify-content-center" aria-labelledby="#profile-tab">
    <div class="container wrapper-form profile-tab">
        <p class="text-special lead">Upss! I looks quite empty here, doesn't it?</p>
        <p>Check out our latest offers and feel free to save them for later. You don't have to make a decision right
            away. This is what I am for, to remember all the <b>cool products</b> you have seen here!</p>
        <span class="text-muted"> --- Your Wishlist <i class="fa-regular fa-face-grin-hearts"></i></span>
    </div>
    <br> <br>
    {% endif %}
    <div class="text-center">
        <a href="{% url 'products' %}" class="btn btn-outline-info rounded-3 ml-2" aria-label="products">
            <span class="font-weight-bold"><i class="fa-solid fa-arrow-left"></i>Back to store</span>
        </a>
    </div>
</div>
<br><br>

{% endblock %}