{% extends "base.html" %}
{% load static %}

{% block extra_title %}Wishlist{% endblock %}

{% block content %}
<div class="container mb-2 container-tall">
    <div class="row">
        <div class="col">
            <hr class="w-50 mb-1">
            <h2 class="logo-font mb-4 text-center">My WishList</h2>
            <hr class="w-50 mb-1">
        </div>
    </div>

    {% if wishlist %}
    <div class="table-responsive rounded mx-4">
        <table class="table table-sm table-borderless">
            <thead class="text-black">
                <tr>
                    <th scope="col">Product Info</th>
                    <th scope="col"></th>
                    <th scope="col">Price</th>
                    <th scope="col"></th>
                </tr>
            </thead>

            {% for item in wishlist %}
            <tr>
                <td class="w-25">
                    {% if item.product.image %}
                    <img class="img-fluid rounded" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                    {% else %}
                    <img class="img-fluid rounded" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product.name }}">
                    {% endif %}
                </td>
                <td>
                    <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                </td>
                <td>
                    <p class="my-0"><strong>{{ item.product.price }}</strong></p>
                </td>
                {% endfor %}
            </tr>
        </table>
    </div>

    <div>
        <div colspan="5" class="text-right m-5">
            <a href="{% url 'products' %}" class="btn btn-outline-secondary rounded-0 btn-lg" aria-label="products">
                <span class="text-uppercase"><i class="fa-solid fa-arrow-left"></i> Keep Shopping</span>
            </a>
        </div>
    </div>


    {% else %}
    <div class="container-tall">
        <br>
        <div class="d-block">
            <div class="text-center">
                <img class="img-sm" src="{{ MEDIA_URL }}empty-cart.png" alt="empty basket" aria-label="empty_basket">
                <br>
            </div>
            <div class="text-center">
                <p class="my-3">Your wish list in empty.</p>
            </div><br>
            <div class="text-center">
                <a href="{% url 'products' %}" class="btn btn-outline-secondary rounded-0 btn-lg" aria-label="products">
                    <span class="text-uppercase"><i class="fa-solid fa-arrow-left"></i> Keep Shopping</span>
                </a>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
