{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container container-tall">
        <hr class="w-50 mb-1">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="logo-font">Profile</h2>
                <hr class="w-50 mb-1">
        </div>
    </div>

    <div class="row mt-2">
        <div class="col">
            <ul class="nav nav-tabs d-flex justify-content-center" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                        aria-controls="profile" aria-selected="true">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="wishlist-tab" data-toggle="tab" href="#wishlist" role="tab"
                        aria-controls="contact" aria-selected="false">Wishlist</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="orders-tab" data-toggle="tab" href="#orders" role="tab"
                        aria-controls="address" aria-selected="false">Orders</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <div class="row">
                <div class="col-12 col-lg-6">
                    <p class="text-muted mt-3">Personal Info</p>
                    <form class="mt-3" action="{% url 'profile' %}" method="POST" id="profile-update-form">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button class="btn btn-black rounded-0 text-uppercase float-right">Update
                            Information</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="wishlist" role="tabpanel" aria-labelledby="wishlist-tab">
            <p class="text-muted mt-3">My wishlist</p>
        </div>

        <div class="tab-pane fade" id="orders" role="tabpanel" aria-labelledby="orders-tab">
            <div class="col-12 col-lg-6">
                <p class="text-muted mt-3">Order History</p>
                {{ orders }}
            </div>
        </div>

    </div>
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript" src="{% static 'profiles/js/countryfield.js' %}"></script>
{% endblock %}