{% extends "base.html" %}
{% load static %}
{% block extra_title %}Products{% endblock %}

{% block content %}


<div class="container-fluid container-tall">
    <hr class="w-50 mb-1">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="logo-font">Products</h2>
        </div>
    </div>
    <hr class="w-50 mb-1">
    <div class="btn-group">
        <button type="button" class="btn btn-outline-secondary dropdown-toggle ml-3" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" aria-label="sort">
            Sort by
        </button>
        <div class="dropdown-menu" id="sort-selector">
            <span class="dropdown-item" type="button" aria-label="products_ascending">
                <a href="{% url 'products' %}?sort=price&direction=asc">Price
                    (low to high)</a></span>
            <span class="dropdown-item" type="button" aria-label="products_descending">
                <a href="{% url 'products' %}?sort=price&direction=desc">Price
                    (high to low)</a></span>
        </div>
    </div>

    <!-- Render product cards -->
    <div class="row">
        <div class="product-container col-10 offset-1">
            <div class="row mt-1 mb-2"></div>
            <div class="row">
                {% for product in products %}
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                    <div class="card card-product">
                        {% if product.image %}
                        <a href="{% url 'product_detail' product.id %}">
                            <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                        </a>
                        {% else %}
                        <a href="{% url 'product_detail' product.id %}">
                            <img class="card-img-top img-fluid" src="/media/noimage.webp" alt="{{ product.name }}">
                        </a>
                        {% endif %}
                        <div class="card-body p-3">
                            <h5 class="card-title mb-2">{{ product.name }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{ product.extra_info }}</h6>
                        </div>
                        <div class="card-footer bg-white pt-0 border-0">
                            <div class="row">
                                <div class="col-6">
                                    <p class="lead mb-0 text-left font-weight-bold">€{{ product.price }}</p>
                                </div>

                                <!-- "Like" button / Add to wishlist -->
                                <span class="col-6 d-flex justify-content-end addToWish" id="id"
                                    attr_id="{{ product.pk }}"><i class="fa-regular fa-heart fa-lg mr-1"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                {% if forloop.counter|divisibleby:1 %}
                <div class="col-12 d-sm-none mb-5">
                </div>
                {% endif %}
                {% if forloop.counter|divisibleby:2 %}
                <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                </div>
                {% endif %}
                {% if forloop.counter|divisibleby:3 %}
                <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                </div>
                {% endif %}
                {% if forloop.counter|divisibleby:4 %}
                <div class="col-12 d-none d-xl-block mb-5">
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div> <!-- product card end -->

    <br><br>
    <div class="text-center">
        <a href="{% url 'home' %}" class="btn btn-outline-info rounded-3 ml-2" aria-label="products">
            <span class="font-weight-bold"><i class="fa-solid fa-arrow-left"></i>Back to home</span>
        </a>
    </div>
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}

<script>
    // sort products //
    $('#sort-selector').change(function () {
        var selector = $(this);
        var currentUrl = new URL(window.location);

        var selectedVal = selector.val();
        if (selectedVal != "reset") {
            var sort = selectedVal.split("_")[0];
            var direction = selectedVal.split("_")[1];

            currentUrl.searchParams.set("sort", sort);
            currentUrl.searchParams.set("direction", direction);

            window.location.replace(currentUrl);
        } else {
            currentUrl.searchParams.delete("sort");
            currentUrl.searchParams.delete("direction");

            window.location.replace(currentUrl);
        }
    })


    // Add wishlist
    $(document).ready(function () {
        $(".addToWish").click(function () {
            var attr_id = $(this).attr('attr_id')
            var that = $(this);

            $.ajax({
                url: "users/add_wishlist",
                type: "POST",
                data: { 'attr_id': attr_id },
                success: function (result) {
                    console.log("Success")
                    that.toggleClass("heart");
                },
                error: function () {
                    alert("Please login");
                }

            });
        });
    });

</script>
{% endblock %}