{% extends "base.html" %}
{% load static %}
{% block extra_title %}Update review{% endblock %}

{% block content %}


<div class="container-fluid container-tall">
    <hr class="w-50 mb-1">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="logo-font">Update your review</h2>
        </div>
    </div>
    <hr class="w-50 mb-1">
    <br>

    {% if user.is_authenticated %}
    <div class="d-flex justify-content-center">
        <div class="form-group">
            <form method="POST">
                {% csrf_token %}
                {% crispy form %} {{ form.media }}
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-info m-2">Update review</button>
                    <div class="btn btn-outline-info m-2">
                        <a class="nostyle" href="{% url 'home' %}">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {% else %}
    <div>
        <p class="text-center">Ooops! You do not have access to this page.</p>
        <p class="text-center">
            <a class="text-info" href="{% url 'account_signup' %}">Create an account</a> or
            <a class="text-info" href="{% url 'account_login' %}">login</a> to add a review.
        </p>
    </div>
    {% endif %}
</div>
{% endblock %}