{% extends "socialaccount/base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Account Connections" %}{% endblock %}

{% block inner_content %}

<div class="text-center">
    <hr>
    <h2>Account Connections</h2>
    <hr>
</div>
<br>

<div class="wrapper-form text-center">

    {% if form.accounts %}
    <p>{% blocktrans %}You can sign in to your account using any of the following third
        party accounts:{%
        endblocktrans %}</p>

    <form method="post" action="{% url 'socialaccount_connections' %}">
        {% csrf_token %}

        <fieldset>
            {% if form.non_field_errors %}
            <div id="errorMsg">{{ form.non_field_errors|crispy }}</div>
            {% endif %}

            {% for base_account in form.accounts %}
            {% with base_account.get_provider_account as account %}
            <div>
                <label for="id_account_{{ base_account.id }}">
                    <input id="id_account_{{ base_account.id }}" type="radio" name="account"
                        value="{{ base_account.id }}" />
                    <span
                        class="socialaccount_provider {{ base_account.provider }} {{ account.get_brand.id }}">{{account.get_brand.name}}</span>
                    {{ account }}
                </label>
            </div>
            {% endwith %}
            {% endfor %}

            <div>
                <button type="submit" class="btn-block btn btn-secondary">{% trans 'Remove' %}</button>
            </div>
        </fieldset>
    </form>

    {% else %}
    <p>{% trans 'You currently have no social network accounts connected to this account.' %}</p>
    {% endif %}

    <h3>{% trans 'Add a 3rd Party Account' %}</h3>

    {% get_providers as socialaccount_providers %}
    <div class="row d-flex justify-content-around">
        {% if socialaccount_providers %}
        <div class="m-1">
            <a href="{% provider_login_url 'google' method='oauth2' %}" class="btn-google btn btn-social">
                <img src="https://img.icons8.com/color/24/null/google-logo.png" />
                <span class="social-txt ml-2">Continue with Google</span>
            </a>
        </div>
        <!-- <div class="m-1">
            <a href="{% provider_login_url 'facebook' method='js_sdk' %}" class="btn-facebook btn btn-social">
                <i class="fa-brands fa-facebook-f"></i><span class="social-txt ml-2"> Continue with
                    Facebook</span>
            </a>
        </div> -->
    </div>
    {% endif %}
</div>

{% endblock %}