{% extends "socialaccount/base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Login Cancelled" %}{% endblock %}

{% block inner_content %}

<div class="text-center">
    <h2>Account Connections</h2>
    <hr>
</div>
<br>

<div class="wrapper-form text-center">
{% url 'account_login' as login_url %}
{% csrf_token %}

<p>{% blocktrans %}You decided to cancel logging in to our site using one of your existing accounts. If this was a mistake, please proceed to <a href="{{login_url}}">sign in</a>.{% endblocktrans %}</p>
</div>
<br>

{% endblock %}
