{% extends "socialaccount/base.html" %}
{% load i18n %}
{% load static %}

{% block extra_title %}Login{% endblock %}


<!-- Social accounts -->
{% load account socialaccount %}

<!-- Header  -->
{% block inner_content %}
<div class="container-fluid container-tall">
  <div class="text-center">
    {% if process == "connect" %}
    <h2>{% blocktrans with provider.name as provider %}Connect {{ provider }}{% endblocktrans %}</h2>
    {% else %}
    <h2>{% blocktrans with provider.name as provider %}Sign in via {{ provider }}{% endblocktrans %}</h2>
    {% endif %}
    <hr>
    <br>
  </div>

  <!-- Login form  -->
  <div class="wrapper-form text-center">
    <i class="fa-solid fa-triangle-exclamation text-warning"></i>
    <br><br>
    <p>You are about to connect using a third party account.</p>
    <form method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <button class="btn-block btn-sm btn-secondary" type="submit">{% trans "Continue" %}</button>
    </form>
  </div>
</div>
{% endblock %}